*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

.header{
    background-color: rgb(29, 29, 29);
    max-height: 10%;
    width: 100%;
    padding: 1% 0%;
    text-align: center;
    color: rgb(0, 106, 141);
}

.select{
    text-align: center;
    width: 100%;
    max-height: 80%;
    align-items: center;
}

ul{
    align-items: center;
    text-align: center;
}

li{
    background-color: rgb(29, 29, 29);
    margin: 3% 1%;
    border-radius: 10px;
    color: rgb(0, 106, 141);
}

li:hover{
    cursor: pointer;
}

.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(29, 29, 29);
    padding: 3.5%;
}

.footer a{
    color: white;
    text-decoration: none;
}

.select p{
    color: rgb(111, 183, 255);
    margin: 3%;
    letter-spacing: 2px;
    font-size: 16pt;
}

.off{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
}

h2{
    color: rgb(0, 106, 141);
    margin: 3%;
}

.off input{
    width: 70%;
    padding: 2%;
    border: 5px solid rgb(0, 106, 141);
    color: white;
    background-color: rgb(0, 106, 141);
    border-radius: 10px;
}
.off input{
    cursor: pointer;
}

#selected{
    font-weight: bold;
}